/* da cancellare  */
.debug [class*='col-']{
  /* background-color: lightblue; */
  border: 1px solid black;
  height: 100px;
}



/* allineamento testo */

.t_r{
  text-align: right;
}

.t_c{
  text-align: center;
}

/* colore */
.color_white{
  color: white;
}



/* padding */
.p_t{
  padding: 10px;
}

.p_r{
  padding-right: 5px;
}

/* margine */


/* header */
#navbar{
  background-color: #2C3E50;
}


#jumbotron{
  background-color: #1ABC9C;

}
/* end header */
/* main */
/* section portfolio */
#portfolio{

}

/* section about */
#about{
  background-color: #1ABC9C;
}

/* end section about */
/* section contact me */
#contact{

}
/* <!-- end section contact me --> */
/* end main */

/* start footer */
footer{

}

/* footer top */
.footer_top{
  background-color: #3A546D;

}
/* end footer top */
/* start footer bottom */
.footer_bottom{
  background-color: #2C3E50;
}
/* end footer bottom */
/* end footer */
